.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 40px;
    height: 40px;
    background-color: var(--green-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50%; 
    margin-bottom: 10px; */
}

.feature-number {
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    border: 2px solid var(--purple-900-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--purple-900-color); /* Text color same as border */
    font-size: 1.2rem;
}


/* .feature-container {
    margin-top: 250px;
    text-align: center;
} */

/* .feature-number {
    border: 50%;
    width: 40px;  Adjust size
  height: 40px;  Must match width for a perfect circle
  border: 1px solid #000;  Border color
  border-radius: 50%;Makes it circular
  font-weight: bold;
} */

