.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem

}

.social-links img {
    transition: transform 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.2);
    opacity: 0.8;
  }