.header {
    position: absolute; 
    top: 85px;
    left: 0;
    width: 100%;
    background-color: var(--purple-900-color);
    color: var(--white-color);
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.header-content {
    background-color: var(--purple-900-color);
    position: relative;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 30px;

}

.nav-link {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;

    padding-bottom: 5px;
}


/* Hero Section */
.hero {
    padding: 20px 20px 144px 20px;
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    background-color: var(--green-color);
    color: var(--purple-900-color);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}